executors:
  openjdk_11:
    docker:
      - image: 'cimg/openjdk:11.0.2'
orbs:
  maven: circleci/maven@1.3.0
version: 2.1
workflows:
  maven_test:
    jobs:
      - maven/test:
          executor: openjdk_11
          filters:
            branches:
              only:
                - patch/prometheus-metrics